n8n-workflows/WF-01-ingestion.json
{
  "name": "WF-01 Ingestion Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "cron_trigger",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// RSS Feed URLs\nconst feeds = [\n  // Global News\n  'https://www.aljazeera.com/xml/rss/all.xml',\n  'https://feeds.bbci.co.uk/news/world/rss.xml',\n  'https://rss.nytimes.com/services/xml/rss/nyt/World.xml',\n  'https://www.theguardian.com/world/rss',\n  'https://rss.dw.com/xml/rss-en-all',\n  // Markets\n  'https://www.cnbc.com/id/100003114/device/rss/rss.html',\n  'https://www.marketwatch.com/rss/topstories',\n  // Crypto\n  'https://cointelegraph.com/rss',\n  'https://www.coindesk.com/arc/outboundfeeds/rss/',\n  // Tech\n  'https://techcrunch.com/feed/',\n  'https://www.theverge.com/rss/index.xml',\n  // Security/OSINT\n  'https://therecord.media/feed/',\n  'https://feeds.feedburner.com/TheHackersNews'\n];\n\nreturn feeds.map(url => ({ json: { feed_url: url } }));"
      },
      "id": "prepare_feeds",
      "name": "Prepare Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.feed_url }}",
        "options": {}
      },
      "id": "fetch_rss",
      "name": "Fetch RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Normalize RSS items\n// FNV-1a hash (fast, collision-resistant, no crypto module needed)\nconst fnv1aHash = (str) => {\n  let hash = 2166136261; // FNV offset basis\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash += (hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24);\n  }\n  return (hash >>> 0).toString(36);\n};\n\nconst items = $input.all();\n\nconst toIso = (value) => {\n  const date = value ? new Date(value) : new Date();\n  return isNaN(date.getTime()) ? new Date().toISOString() : date.toISOString();\n};\n\nreturn items.map(({ json: item }) => {\n  const url = item.link || item.url || item.guid || '';\n  const hashInput = url || item.title || item.contentSnippet || item.description || '';\n  const sourceHash = fnv1aHash(hashInput);\n\n  return {\n    json: {\n      title: item.title || 'Untitled',\n      content: item.contentSnippet || item.description || item.content || '',\n      url: url,\n      published_at: toIso(item.pubDate || item.isoDate || item.published_at),\n      source: item.creator || item.author || 'Unknown',\n      source_hash: sourceHash\n    }\n  };\n});"
      },
      "id": "normalize",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'seen:' + $json.source_hash }}",
        "options": {}
      },
      "id": "check_dedupe",
      "name": "Check If Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "redis": {
          "id": "redis_cred",
          "name": "Redis"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "is_new",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is_new_check",
      "name": "Is New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'seen:' + $json.source_hash }}",
        "value": "1",
        "expire": true,
        "ttl": 604800
      },
      "id": "mark_seen",
      "name": "Mark As Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ],
      "credentials": {
        "redis": {
          "id": "redis_cred",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://earngrid.xyz:5678/webhook-test/intelligence-trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "trigger_webhook",
      "name": "Trigger WF-02 Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        200
      ]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Prepare Feed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Feed List": {
      "main": [
        [
          {
            "node": "Fetch RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Check If Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Seen": {
      "main": [
        [
          {
            "node": "Is New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New?": {
      "main": [
        [
          {
            "node": "Mark As Seen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mark As Seen": {
      "main": [
        [
          {
            "node": "Trigger WF-02 Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}