n8n-workflows/WF-02-intelligence.json
{
    "name": "WF-02 Intelligence Analyst",
    "nodes": [
        {
            "parameters": {
                "path": "intelligence-trigger",
                "options": {}
            },
            "id": "webhook_trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "intelligence-trigger"
        },
        {
            "parameters": {
                "jsCode": "// Prepare content for AI analysis\nconst item = $input.first().json;\n\nconst prompt = `You are an OSINT intelligence analyst. Analyze the following news content and extract structured intelligence.\n\nCONTENT:\nTitle: ${item.title}\nContent: ${item.content}\nSource URL: ${item.url}\nPublished: ${item.published_at}\n\nOUTPUT FORMAT (strict JSON only, no markdown):\n{\n  \"category\": \"War|Market|Disaster|Tech|Policy|Crypto|Energy|Other\",\n  \"severity\": 0-100,\n  \"confidence\": 0.0-1.0,\n  \"market_impact\": \"none|low|medium|high\",\n  \"entities\": [\"list of entities, tickers, names\"],\n  \"geo\": {\"lat\": number or null, \"lon\": number or null},\n  \"title\": \"Neutral, factual headline (max 100 chars)\",\n  \"alert\": \"One-sentence urgent alert (max 200 chars)\",\n  \"summary\": [\"What happened\", \"Why it matters\", \"What to watch next\"]\n}\n\nSCORING RULES:\n- Severity 80-100: Market-moving, geopolitical crisis, major disaster\n- Severity 60-79: Significant regional impact, notable market moves\n- Severity 40-59: Industry-specific, moderate importance\n- Severity 0-39: Low impact, routine news\n- Confidence < 0.5: Unverified, rumor, single-source → set confidence low\n\nRespond with ONLY valid JSON, no explanations.`;\n\nreturn {\n  json: {\n    ...item,\n    prompt: prompt\n  }\n};"
            },
            "id": "prepare_prompt",
            "name": "Prepare AI Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                416,
                300
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "key": "={{ 'semantic:' + $json.source_hash.substring(0, 16) }}",
                "options": {}
            },
            "id": "check_semantic_cache",
            "name": "Check Semantic Cache",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                640,
                300
            ],
            "credentials": {
                "redis": {
                    "id": "redis_cred",
                    "name": "Redis"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {},
                    "conditions": [
                        {
                            "id": "cache_miss",
                            "leftValue": "={{ $json.value }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "empty"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "cache_check",
            "name": "Cache Hit?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                864,
                300
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-flash-lite-latest",
                    "mode": "list",
                    "cachedResultName": "models/gemini-flash-lite-latest"
                },
                "messages": {
                    "values": [
                        {
                            "content": "={{ $json.prompt }}"
                        }
                    ]
                },
                "builtInTools": {},
                "options": {
                    "maxOutputTokens": 1024,
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1,
            "position": [
                1088,
                200
            ],
            "id": "gemini_classify",
            "name": "Gemini Flash Classify",
            "credentials": {
                "googlePalmApi": {
                    "id": "gemini_cred",
                    "name": "Google Gemini"
                }
            },
            "retryOnFail": true,
            "maxTries": 2,
            "waitBetweenTries": 2000
        },
        {
            "parameters": {
                "jsCode": "// Parse and validate Gemini response\nconst item = $input.first().json;\nlet analysis;\n\nconst retryCount = item.retry_count || 0;\nconst normalizeArray = (value) => {\n  if (Array.isArray(value)) return value.map(String).filter(Boolean);\n  if (value === null || value === undefined || value === '') return [];\n  return [String(value)];\n};\n\ntry {\n  // Extract JSON from response\n  const responseText = item.message || item.text || item.response || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n\n  if (!jsonMatch) {\n    throw new Error('No JSON found in response');\n  }\n\n  analysis = JSON.parse(jsonMatch[0]);\n\n  // Validate required fields\n  const required = ['category', 'severity', 'confidence', 'title', 'summary'];\n  for (const field of required) {\n    if (analysis[field] === undefined) {\n      throw new Error(`Missing required field: ${field}`);\n    }\n  }\n\n  analysis.severity = Number(analysis.severity);\n  analysis.confidence = Number(analysis.confidence);\n\n  // Validate ranges\n  if (Number.isNaN(analysis.severity) || analysis.severity < 0 || analysis.severity > 100) {\n    throw new Error('Severity out of range 0-100');\n  }\n  if (Number.isNaN(analysis.confidence) || analysis.confidence < 0 || analysis.confidence > 1) {\n    throw new Error('Confidence out of range 0-1');\n  }\n\n  // Validate enums\n  const validCategories = ['War', 'Market', 'Disaster', 'Tech', 'Policy', 'Crypto', 'Energy', 'Other'];\n  if (!validCategories.includes(analysis.category)) {\n    analysis.category = 'Other';\n  }\n\n  const validImpacts = ['none', 'low', 'medium', 'high'];\n  if (!validImpacts.includes(analysis.market_impact)) {\n    analysis.market_impact = 'none';\n  }\n\n  analysis.entities = normalizeArray(analysis.entities);\n  analysis.summary = normalizeArray(analysis.summary).slice(0, 3);\n  analysis.alert = analysis.alert || null;\n  analysis.geo = (analysis.geo && typeof analysis.geo === 'object') ? analysis.geo : null;\n\n} catch (error) {\n  if (retryCount >= 1) {\n    throw new Error(`Validation failed after retry: ${error.message}`);\n  }\n\n  return {\n    json: {\n      ...item,\n      validation_error: error.message,\n      needs_retry: true,\n      retry_count: retryCount + 1\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...item,\n    analysis: analysis,\n    needs_retry: false,\n    needs_verification: analysis.severity >= 60\n  }\n};"
            },
            "id": "validate_response",
            "name": "Validate & Parse",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1312,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {},
                    "conditions": [
                        {
                            "id": "needs_retry",
                            "leftValue": "={{ $json.needs_retry }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "retry_router",
            "name": "Needs Retry?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1536,
                360
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {},
                    "conditions": [
                        {
                            "id": "high_severity",
                            "leftValue": "={{ $json.needs_verification }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "severity_router",
            "name": "High Severity?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1536,
                200
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.5-flash"
                },
                "messages": {
                    "values": [
                        {
                                "content": "={{ 'Verify this intelligence analysis. If you agree, return the same values. If you disagree, return corrected values. Output strict JSON only in the form {\"severity\": number, \"confidence\": number}. Analysis: ' + JSON.stringify($json.analysis) + ' Content: ' + ($json.content || $json.title || '') }}"
                            }
                        ]
                    },
                "builtInTools": {},
                "options": {
                    "maxOutputTokens": 512,
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1,
            "position": [
                1760,
                100
            ],
            "id": "gemini_verify",
            "name": "Gemini Pro Verify",
            "credentials": {
                "googlePalmApi": {
                    "id": "gemini_cred",
                    "name": "Google Gemini"
                }
            },
            "retryOnFail": true,
            "maxTries": 2
        },
        {
            "parameters": {
                "jsCode": "// Merge verification feedback\nconst item = $input.first().json;\nconst responseText = item.message || item.text || item.response || item.verification_response || '';\n\nlet updates = {};\n\nconst jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.severity !== undefined) updates.severity = Number(parsed.severity);\n    if (parsed.confidence !== undefined) updates.confidence = Number(parsed.confidence);\n  } catch (error) {\n    // Fall back to regex parsing below\n  }\n}\n\nif (updates.severity === undefined) {\n  const adjustedSeverity = responseText.match(/severity[:\\s]+(\\d+)/i);\n  if (adjustedSeverity) updates.severity = Number(adjustedSeverity[1]);\n}\n\nif (updates.confidence === undefined) {\n  const adjustedConfidence = responseText.match(/confidence[:\\s]+([\\d.]+)/i);\n  if (adjustedConfidence) updates.confidence = Number(adjustedConfidence[1]);\n}\n\nif (!Number.isNaN(updates.severity)) {\n  item.analysis.severity = Math.max(0, Math.min(100, updates.severity));\n}\n\nif (!Number.isNaN(updates.confidence)) {\n  item.analysis.confidence = Math.max(0, Math.min(1, updates.confidence));\n}\n\nitem.analysis.verified = true;\n\nreturn { json: item };"
            },
            "id": "merge_verification",
            "name": "Merge Verification",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1984,
                100
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": [
                        {
                            "field1": "source_hash",
                            "field2": "source_hash"
                        }
                    ]
                },
                "options": {}
            },
            "id": "merge_paths",
            "name": "Merge Paths",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2.1,
            "position": [
                2208,
                200
            ]
        },
        {
            "parameters": {
                "operation": "set",
                "key": "={{ 'semantic:' + $json.source_hash.substring(0, 16) }}",
                "value": "={{ JSON.stringify($json.analysis) }}",
                "expire": true,
                "ttl": 3600
            },
            "id": "cache_result",
            "name": "Cache Result",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                2432,
                200
            ],
            "credentials": {
                "redis": {
                    "id": "redis_cred",
                    "name": "Redis"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ ($env.N8N_INTERNAL_URL || 'http://n8n:5678') + '/webhook/gatekeeper-trigger' }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json }}",
                "options": {}
            },
            "id": "trigger_gatekeeper",
            "name": "Trigger Gatekeeper",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2656,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Use cached result\nconst item = $input.first().json;\nlet cached;\n\ntry {\n  cached = JSON.parse(item.value);\n} catch (error) {\n  throw new Error('Cached analysis is invalid JSON');\n}\n\nreturn {\n  json: {\n    ...item,\n    analysis: cached,\n    from_cache: true,\n    needs_retry: false,\n    needs_verification: cached.severity >= 60 && !cached.verified\n  }\n};"
            },
            "id": "use_cache",
            "name": "Use Cached Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1088,
                400
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.5-flash"
                },
                "messages": {
                    "values": [
                        {
                            "content": "={{ $json.prompt + '\\n\\nPREVIOUS FAILED: ' + $json.validation_error + '\\n\\nValid JSON only.' }}"
                        }
                    ]
                },
                "builtInTools": {},
                "options": {
                    "maxOutputTokens": 1024,
                    "temperature": 0.05
                }
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1,
            "position": [
                1536,
                400
            ],
            "id": "gemini_retry",
            "name": "Gemini Pro Retry",
            "credentials": {
                "googlePalmApi": {
                    "id": "gemini_cred",
                    "name": "Google Gemini"
                }
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Prepare AI Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare AI Prompt": {
            "main": [
                [
                    {
                        "node": "Check Semantic Cache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Semantic Cache": {
            "main": [
                [
                    {
                        "node": "Cache Hit?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cache Hit?": {
            "main": [
                [
                    {
                        "node": "Gemini Flash Classify",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Use Cached Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Flash Classify": {
            "main": [
                [
                    {
                        "node": "Validate & Parse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate & Parse": {
            "main": [
                [
                    {
                        "node": "Needs Retry?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Needs Retry?": {
            "main": [
                [
                    {
                        "node": "Gemini Pro Retry",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "High Severity?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "High Severity?": {
            "main": [
                [
                    {
                        "node": "Gemini Pro Verify",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Merge Paths",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Pro Verify": {
            "main": [
                [
                    {
                        "node": "Merge Verification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Verification": {
            "main": [
                [
                    {
                        "node": "Merge Paths",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Paths": {
            "main": [
                [
                    {
                        "node": "Cache Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cache Result": {
            "main": [
                [
                    {
                        "node": "Trigger Gatekeeper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Use Cached Result": {
            "main": [
                [
                    {
                        "node": "Needs Retry?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Pro Retry": {
            "main": [
                [
                    {
                        "node": "Validate & Parse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}
