n8n-workflows/WF-01-ingestion.json
{
  "name": "WF-01 Ingestion Watcher",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, url, type, config FROM sources WHERE is_active = true ORDER BY last_fetch ASC NULLS FIRST LIMIT 10"
      },
      "id": "get_sources",
      "name": "Get Active Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split_batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "rss_check",
              "leftValue": "={{ $json.type }}",
              "rightValue": "rss",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route_by_type",
      "name": "Route by Source Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch_rss",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [1120, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": "={{ JSON.parse($json.config || '{}') }}"
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch_api",
      "name": "Fetch API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Normalize items from different source types\nconst items = $input.all();\nconst normalized = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Generate URL hash for deduplication\n  const url = data.link || data.url || data.id || '';\n  const crypto = require('crypto');\n  const hash = crypto.createHash('sha256').update(url).digest('hex');\n  \n  normalized.push({\n    json: {\n      source_id: data.source_id,\n      source_hash: hash,\n      title: data.title || data.headline || 'Untitled',\n      content: data.content || data.description || data.summary || '',\n      url: url,\n      published_at: data.pubDate || data.published || data.date || new Date().toISOString(),\n      raw: data\n    }\n  });\n}\n\nreturn normalized;"
      },
      "id": "normalize",
      "name": "Normalize Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'seen:' + $json.source_hash }}"
      },
      "id": "check_redis",
      "name": "Check Redis Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1560, 300],
      "credentials": {
        "redis": {
          "id": "redis_cred",
          "name": "Redis"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not_seen",
              "leftValue": "={{ $json.redis_value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter_new",
      "name": "Filter New Items",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'seen:' + $json.source_hash }}",
        "value": "={{ $json.url }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "mark_seen",
      "name": "Mark as Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": {
        "redis": {
          "id": "redis_cred",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "WF-02-intelligence",
        "options": {}
      },
      "id": "trigger_analysis",
      "name": "Trigger Intelligence Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sources SET last_fetch = NOW(), consecutive_failures = 0, last_success = NOW() WHERE id = '{{ $json.source_id }}'"
      },
      "id": "update_source_success",
      "name": "Update Source Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [2440, 200],
      "credentials": {
        "postgres": {
          "id": "postgres_cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "id": "error_trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sources SET last_fetch = NOW(), consecutive_failures = consecutive_failures + 1 WHERE id = '{{ $json.source_id }}'"
      },
      "id": "update_source_failure",
      "name": "Update Source Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1120, 500],
      "credentials": {
        "postgres": {
          "id": "postgres_cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "circuit_breaker",
              "leftValue": "={{ $json.consecutive_failures }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "id": "circuit_breaker",
      "name": "Circuit Breaker Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sources SET is_active = false WHERE id = '{{ $json.source_id }}'"
      },
      "id": "disable_source",
      "name": "Disable Failed Source",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1560, 500],
      "credentials": {
        "postgres": {
          "id": "postgres_cred",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Get Active Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sources": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Route by Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Source Type": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Normalize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch API": {
      "main": [
        [
          {
            "node": "Normalize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Content": {
      "main": [
        [
          {
            "node": "Check Redis Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Redis Cache": {
      "main": [
        [
          {
            "node": "Filter New Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Items": {
      "main": [
        [
          {
            "node": "Mark as Seen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mark as Seen": {
      "main": [
        [
          {
            "node": "Trigger Intelligence Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Intelligence Workflow": {
      "main": [
        [
          {
            "node": "Update Source Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Update Source Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Source Failure": {
      "main": [
        [
          {
            "node": "Circuit Breaker Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Circuit Breaker Check": {
      "main": [
        [
          {
            "node": "Disable Failed Source",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ingestion"
    },
    {
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-03T00:00:00.000Z",
  "versionId": "1.0.0"
}
